In [ ]:
!pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [ ]:
# yahoo finance data, create directory for data
#! pip install pandas_datareader > /dev/null 2>&1
!pip install --upgrade pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.8.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)

In [ ]:
!pip install yahooquery

Requirement already satisfied: yahooquery in /usr/local/lib/python3.7/dist-packages (2.2.15)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (1.3.5)
Requirement already satisfied: tqdm>=4.54.1 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (4.64.0)
Requirement already satisfied: requests-futures>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (1.0.0)
Requirement already satisfied: lxml>=4.6.2 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (4.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yahooquery) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yahooquery) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yahooquery) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yahooquery) (1.15.0)
Requirement already satisfied: requests>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from requests-futures>=1.0.0->yahooquery) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (1.24.3)

In [ ]:
# import yahoo finance and reuqired library to write data
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader import data as pdr

# For time stamps
from datetime import datetime

from yahooquery import Ticker

import yfinance as yf
import re

In [ ]:

import datetime
# define required etf for Nasdaq100(QQQ) and S&P500(SPY)
df1 = pd.read_csv('nyse.csv')
df2 = pd.read_csv('nasdaq.csv')
df = pd.concat([df1, df2], ignore_index=True, sort=False)
symbols = df['Symbol']
#start = '2006-01-02' # download data from start date
#end = '2009-12-01' #datetime.now()
#bear_date = '2008-11-20'

start = '2014-01-02' # download data from start date
end = '2016-12-01' #datetime.now()
bear_date = '2016-2-11'

In [ ]:
yf.pdr_override() # <== that's all it takes :-)

In [ ]:
sym_txt = re.sub('\\n\d{0,3}','',symbols.to_string())

In [ ]:
symbols_var = []
#for symbol in symbols:
sym = pdr.get_data_yahoo(sym_txt, start=start, end=end)
symbols_var.append(sym)

[*********************100%***********************]  801 of 801 completed

71 Failed downloads:
- ROKU: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- BNTX: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- LI: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- LU: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- DT: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- BSY: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- DDOG: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- FOX: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- RIVN: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- DASH: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- LCID: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- IR: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- RPRX: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- COIN: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- BEKE: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- NTR: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- SNOW: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- SNAP: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- NET: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- XPEV: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CARR: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CHK: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ABNB: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- PATH: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- 0: No data found, symbol may be delisted
- NIO: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ZS: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ZI: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- PINS: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- U: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- GFS: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CLVT: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- GRAB: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ALC: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- EQH: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- MDB: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- RBLX: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- UBER: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- TW: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- VICI: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CTVA: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CHWY: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- NU: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- OTIS: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- PARAA: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- PLTR: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- DOCU: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- APP: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CEG: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ELAN: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ACI: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ARGX: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- INVH: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- FOXA: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- LYFT: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- ZM: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- XM: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- SE: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- WMG: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- OKTA: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- XP: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- SPOT: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- DOW: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- PDD: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CRWD: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- CPNG: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- BILL: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- GFL: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- MRNA: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- AVTR: Data doesn't exist for startDate = 1388620800, endDate = 1480550400
- TOST: Data doesn't exist for startDate = 1388620800, endDate = 1480550400

In [ ]:
symbols_var[0]['Adj Close']

,0,A,AA,AAL,AAP,AAPL,ABB,ABBV,ABC,ABEV,...,YUMC,Z,ZBH,ZBRA,ZEN,ZI,ZM,ZS,ZTO,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,NaN,37.388184,24.405380,23.907925,105.373177,17.494322,18.900181,36.606892,61.253239,5.502870,...,NaN,NaN,83.862915,53.180000,NaN,NaN,NaN,NaN,NaN,30.521454
2014-01-03,NaN,37.860451,24.498087,25.020359,108.388252,17.110043,19.053246,36.832272,61.297062,5.397046,...,NaN,NaN,84.226585,53.580002,NaN,NaN,NaN,NaN,NaN,30.229061
2014-01-06,NaN,37.674198,24.405380,25.482296,107.351212,17.203342,18.761690,35.487148,61.077946,5.276103,...,NaN,NaN,84.772087,53.400002,NaN,NaN,NaN,NaN,NaN,30.163038
2014-01-07,NaN,38.212971,24.428555,25.369171,108.676308,17.080309,18.856447,35.557571,61.744026,5.480194,...,NaN,NaN,86.463181,53.950001,NaN,NaN,NaN,NaN,NaN,30.276222
2014-01-08,NaN,38.838223,25.100687,26.047945,107.831329,17.188478,18.834579,35.466011,62.348782,5.480194,...,NaN,NaN,88.581573,53.910000,NaN,NaN,NaN,NaN,NaN,29.936674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-23,NaN,42.700932,31.406654,44.779884,164.970932,26.141392,16.741419,46.934628,71.930794,4.359416,...,28.613716,36.939999,93.975372,79.099998,22.340000,NaN,NaN,NaN,14.486757,48.500477
2016-11-25,NaN,42.930450,31.596031,45.243725,164.797333,26.273003,16.830860,47.192001,71.811981,4.182341,...,28.287142,36.430000,95.240761,79.099998,22.570000,NaN,NaN,NaN,15.035212,48.500477
2016-11-28,NaN,41.696766,30.758785,44.934494,164.710526,26.221298,16.586933,46.373093,72.250694,4.308824,...,27.230581,35.930000,94.887222,78.120003,21.950001,NaN,NaN,NaN,14.950108,48.471489
2016-11-29,NaN,42.538357,29.632490,45.311371,163.774963,26.195442,16.570669,48.034298,70.952820,4.207637,...,27.461100,36.009998,96.208435,78.809998,21.650000,NaN,NaN,NaN,14.779898,48.761440
2016-11-30,NaN,42.060181,28.874985,44.876514,163.697815,25.974524,16.611324,47.418171,71.281868,4.207637,...,27.009666,35.919998,94.775551,79.050003,21.290001,NaN,NaN,NaN,14.307093,48.693790

In [ ]:
test = symbols_var[0]['Adj Close'].dropna(axis=1)

In [ ]:
test

,A,AA,AAL,AAP,AAPL,ABB,ABBV,ABC,ABEV,ABMD,...,WTW,WY,XEL,XOM,XYL,Y,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,37.388184,24.405380,23.907925,105.373177,17.494322,18.900181,36.606892,61.253239,5.502870,26.850000,...,101.090622,22.429560,21.205418,68.991508,30.689007,378.994476,46.129845,83.862915,53.180000,30.521454
2014-01-03,37.860451,24.498087,25.020359,108.388252,17.110043,19.053246,36.832272,61.297062,5.397046,27.059999,...,100.175331,22.479767,21.197710,68.825516,30.967516,378.446014,46.418568,84.226585,53.580002,30.229061
2014-01-06,37.674198,24.405380,25.482296,107.351212,17.203342,18.761690,35.487148,61.077946,5.276103,27.299999,...,100.198219,22.250235,21.082090,68.929276,30.913610,378.628815,46.381702,84.772087,53.400002,30.163038
2014-01-07,38.212971,24.428555,25.369171,108.676308,17.080309,18.856447,35.557571,61.744026,5.480194,27.620001,...,100.495674,22.314791,21.444384,69.904465,31.003448,379.302399,47.032902,86.463181,53.950001,30.276222
2014-01-08,38.838223,25.100687,26.047945,107.831329,17.188478,18.834579,35.466011,62.348782,5.480194,28.230000,...,100.655823,22.106781,21.359583,69.676247,30.985479,376.800629,47.014477,88.581573,53.910000,29.936674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-23,42.700932,31.406654,44.779884,164.970932,26.141392,16.741419,46.934628,71.930794,4.359416,112.849998,...,115.135376,25.523533,33.036324,66.201630,49.623871,552.990601,57.634380,93.975372,79.099998,48.500477
2016-11-25,42.930450,31.596031,45.243725,164.797333,26.273003,16.830860,47.192001,71.811981,4.182341,113.669998,...,115.819374,25.675983,33.675411,66.353951,49.680191,554.934143,57.807789,95.240761,79.099998,48.500477
2016-11-28,41.696766,30.758785,44.934494,164.710526,26.221298,16.586933,46.373093,72.250694,4.308824,112.220001,...,114.959732,25.050131,34.357098,65.858894,48.478561,548.862671,57.597870,94.887222,78.120003,48.471489
2016-11-29,42.538357,29.632490,45.311371,163.774963,26.195442,16.570669,48.034298,70.952820,4.207637,112.089996,...,114.968994,25.001993,34.501957,65.424751,48.196915,547.400085,57.990314,96.208435,78.809998,48.761440
2016-11-30,42.060181,28.874985,44.876514,163.697815,25.974524,16.611324,47.418171,71.281868,4.207637,112.239998,...,114.959732,24.737207,33.240822,66.491051,48.422226,546.486023,57.853413,94.775551,79.050003,48.693790

In [ ]:
ma_df = pd.DataFrame()

In [ ]:
ma_list = [200]

for ma in ma_list:
  symbol_ma = f"MA {ma}"
  ma_df = test.rolling(ma).mean()

In [ ]:
ma_df

,A,AA,AAL,AAP,AAPL,ABB,ABBV,ABC,ABEV,ABMD,...,WTW,WY,XEL,XOM,XYL,Y,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-23,41.831519,23.608843,35.456611,149.038233,24.304302,16.446546,47.092829,74.922572,4.622809,106.81130,...,113.037487,23.908031,34.883502,65.275464,42.638498,500.931435,54.590250,108.492594,62.38315,46.197317
2016-11-25,41.878579,23.679892,35.507997,149.195515,24.327372,16.465596,47.130828,74.901718,4.625287,107.01580,...,113.127381,23.950858,34.889799,65.311786,42.719313,501.534643,54.668809,108.544938,62.49045,46.250774
2016-11-28,41.915249,23.742486,35.551463,149.340995,24.349848,16.482020,47.163214,74.878295,4.628190,107.21175,...,113.209734,23.989092,34.900212,65.340325,42.790278,502.055294,54.739544,108.595053,62.58450,46.298948
2016-11-29,41.952047,23.794349,35.593030,149.456605,24.369132,16.496606,47.200379,74.848382,4.630878,107.38040,...,113.278753,24.022581,34.911307,65.365988,42.859301,502.565264,54.805208,108.643268,62.65660,46.348571
2016-11-30,41.982706,23.837680,35.628924,149.584305,24.385601,16.509910,47.228772,74.811667,4.632902,107.55435,...,113.345581,24.053167,34.915639,65.394087,42.926383,503.060561,54.864767,108.676227,62.71660,46.391276

In [ ]:
ma_df = ma_df.reset_index()
adj_close_df = test.reset_index()

In [ ]:
ma_df.loc[ma_df['Date'] == bear_date]

,Date,A,AA,AAL,AAP,AAPL,ABB,ABBV,ABC,ABEV,...,WTW,WY,XEL,XOM,XYL,Y,YUM,ZBH,ZBRA,ZTS
531,2016-02-11,36.610489,23.396221,40.184961,159.425548,26.533221,15.043221,46.052004,91.754791,4.286311,...,108.075492,22.621455,28.596902,58.214358,32.526154,464.429592,51.008679,95.820594,86.0322,43.972822

In [ ]:
adj_close_df.loc[adj_close_df['Date'] == bear_date]

,Date,A,AA,AAL,AAP,AAPL,ABB,ABBV,ABC,ABEV,...,WTW,WY,XEL,XOM,XYL,Y,YUM,ZBH,ZBRA,ZTS
531,2016-02-11,33.518463,17.386145,34.966652,133.340927,21.659067,13.020915,39.592262,75.982796,3.68668,...,97.840652,17.11067,32.415951,59.089577,33.517212,434.292572,42.095894,84.771782,57.639999,37.808941

In [ ]:
final_df = ma_df.loc[ma_df['Date'] == bear_date] < adj_close_df.loc[adj_close_df['Date'] == bear_date]

In [ ]:
for key,value in final_df.to_dict().items():
  if True in value.values():
    print(key)

AEE
AEM
AEP
AQN
ATO
AVY
AWK
BCE
CB
CHD
CHRW
CHT
CINF
CLX
CMS
CPB
CUBE
D
DLR
DTE
DUK
ED
EIX
EL
ELS
EQIX
ES
ETR
EVRG
EW
EXC
EXR
FAST
FB
FE
FISV
FNV
GE
GFI
GGG
GIB
GOLD
GOOG
GOOGL
GPC
HON
HRL
HSIC
ISRG
ITW
JKHY
JNJ
K
KDP
KEP
KIM
KLAC
KMB
KO
LMT
LNT
LOGI
LSI
MAA
MCD
MKC
MMM
MO
MPWR
MSCI
MSFT
MTN
NDAQ
NEE
NEM
NGG
NI
NOC
NVDA
NVR
O
OMC
ORAN
ORLY
OTEX
PCG
PEG
PEP
PG
PGR
PM
POOL
PPL
PSA
RE
REG
REXR
RMD
ROST
RSG
RYAAY
SAP
SBSW
SJM
SO
STZ
SYK
SYY
T
TAP
TFX
TLK
TSN
TTWO
UMC
VRSN
WCN
WEC
WM
WOLF
WPM
WSO
WTRG
XEL
XOM
XYL